<h2>Đổi mật khẩu</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
    <input type="password" placeholder="Mật khẩu cũ" formControlName="old_password">
    <div class="password-box">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Mật khẩu mới" formControlName="password">
        <span (click)="showPassword = !showPassword">
            {{ showPassword ? 'Ẩn' : 'Hiện' }}
        </span>
    </div>

    <div class="password-box">
        <input [type]="showConfirm ? 'text' : 'password'" placeholder="Nhập lại mật khẩu"
            formControlName="password_confirmation">
        <span (click)="showConfirm = !showConfirm">
            {{ showConfirm ? 'Ẩn' : 'Hiện' }}
        </span>
    </div>
    <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <span *ngIf="form.get('password')?.errors?.['required']">
            Vui lòng nhập mật khẩu
        </span>

        <span *ngIf="form.get('password')?.errors?.['minlength']">
            Tối thiểu 6 ký tự
        </span>

        <span *ngIf="form.get('password')?.errors?.['pattern']">
            Phải có chữ hoa, chữ thường và số
        </span>
    </div>

    <button type="submit" [disabled]="form.invalid">
        Đổi mật khẩu
    </button>
</form>