.header {
    background: #ffffff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

/* layout */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

/* logo */
.logo img {
    height: auto;
    max-height: 55px;
    /* giới hạn chiều cao */
    width: auto;
    display: block;
}

.brand {
    font-size: 22px;
    font-weight: 700;
    color: #00AEEF;
}

/* menu */
.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 1000;
    position: relative;
}

/* hover effect */
.nav a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #00AEEF;
    transition: 0.3s;
}

.nav a:hover::after,
.nav a.active::after {
    width: 100%;
}

/* right section */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* cart */
.cart-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.cart-link:hover {
    background: #f5f5f5;
}

.cart-icon {
    font-size: 18px;
}

/* badge */
.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #e53935;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 50px;
}

.cart-link:hover {
    color: #00AEEF;
}

/* hotline */
.hotline {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8f8f8;
    padding: 6px 12px;
    border-radius: 8px;
}

.hotline-icon {
    font-size: 18px;
}

.hotline-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.label {
    font-size: 12px;
    color: #777;
}

.phone {
    font-weight: 700;
    color: #e53935;
}


@media (max-width: 992px) {

    .nav {
        gap: 20px;
    }

    .header-right {
        gap: 15px;
    }

}

@media (max-width: 768px) {

    .nav {
        display: none;
    }

    .cart-text {
        display: none;
    }

    .cart-link {
        padding: 6px 8px;
    }

    .cart-icon {
        font-size: 20px;
    }

    .hotline {
        padding: 4px 8px;
        gap: 6px;
    }

    .label {
        display: none;
    }

    .phone {
        font-size: 13px;
    }

    .header-top {
        justify-content: space-between;
        position: relative;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}