<section class="contact">
  <div class="container">
    <h1 class="page-title">Liên hệ với chúng tôi</h1>

    <div class="contact-wrapper">

      <div class="contact-info">
        <h3>Thông tin liên hệ</h3>

        <p><strong>Địa chỉ:</strong> {{ setting?.address }}</p>
        <p><strong>Hotline:</strong> {{ setting?.phone }}</p>
        <p><strong>Email:</strong> {{ setting?.email }}</p>
      </div>

      <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="submit()">

          <!-- NAME -->
          <input type="text" placeholder="Họ tên" formControlName="name">
          <div class="error" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
            Vui lòng nhập họ tên hợp lệ (tối thiểu 2 ký tự).
          </div>

          <!-- PHONE -->
          <input type="text" placeholder="Số điện thoại" formControlName="phone">
          <div class="error" *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.invalid">
            Số điện thoại không hợp lệ (VD: 03x, 05x, 07x, 08x, 09x).
          </div>

          <!-- EMAIL -->
          <input type="email" placeholder="Email" formControlName="email">
          <div class="error" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
            Email không hợp lệ.
          </div>

          <!-- MESSAGE -->
          <textarea rows="5" placeholder="Nội dung" formControlName="message"></textarea>
          <div class="error" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
            Nội dung phải ít nhất 5 ký tự.
          </div>

          <button class="btn-primary" type="submit">Gửi liên hệ</button>
        </form>
        <p class="mt-3 small">
          💰 Bạn muốn kiếm tiền từ việc giới thiệu sản phẩm?
          <a routerLink="/affiliate">Tham gia ngay</a>
        </p>
      </div>

    </div>
  </div>
</section>