<section class="auth-page">
    <div class="auth-box">

        <h2>Đăng ký Trader</h2>

        <form [formGroup]="form" (ngSubmit)="register()">

            <label>Họ tên</label>
            <input type="text" placeholder="Nhập họ tên" formControlName="name">

            <label>Email</label>
            <input type="email" placeholder="Nhập email" formControlName="email">

            <label>Mật khẩu</label>
            <div class="password-box">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Ít nhất 6 ký tự"
                    formControlName="password">

                <span class="toggle" (click)="showPassword = !showPassword">
                    {{ showPassword ? 'Ẩn' : 'Hiện' }}
                </span>
            </div>

            <label>Nhập lại mật khẩu</label>
            <div class="password-box">
                <input [type]="showConfirm ? 'text' : 'password'" placeholder="Nhập lại mật khẩu"
                    formControlName="confirm_password">

                <span class="toggle" (click)="showConfirm = !showConfirm">
                    {{ showConfirm ? 'Ẩn' : 'Hiện' }}
                </span>
            </div>

            <button class="btn-primary" type="submit" [disabled]="form.invalid">
                Đăng ký miễn phí
            </button>

        </form>

        <p>
            Đã có tài khoản?
            <a routerLink="/trader/login">Đăng nhập</a>
        </p>

    </div>
</section>