<section class="auth-page">
    <div class="auth-box">

        <h2>Đăng ký Trader</h2>

        <form [formGroup]="form" (ngSubmit)="register()">

            <!-- NAME -->
            <input type="text" placeholder="Họ tên" formControlName="name">

            <div class="error" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
                Vui lòng nhập họ tên
            </div>

            <!-- EMAIL -->
            <input type="email" placeholder="Email" formControlName="email">

            <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                Email không hợp lệ
            </div>

            <!-- PASSWORD -->
            <div class="password-box">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Mật khẩu (ít nhất 6 ký tự)"
                    formControlName="password">

                <span class="toggle" (click)="showPassword = !showPassword">
                    {{ showPassword ? 'Ẩn' : 'Hiện' }}
                </span>
            </div>

            <div class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                <span *ngIf="form.get('password')?.errors?.['required']">
                    Vui lòng nhập mật khẩu
                </span>

                <span *ngIf="form.get('password')?.errors?.['minlength']">
                    Mật khẩu tối thiểu 6 ký tự
                </span>

                <span *ngIf="form.get('password')?.errors?.['pattern']">
                    Phải có chữ hoa, chữ thường và số
                </span>
            </div>

            <!-- CONFIRM PASSWORD -->
            <div class="password-box">
                <input [type]="showConfirm ? 'text' : 'password'" placeholder="Nhập lại mật khẩu"
                    formControlName="confirm_password">

                <span class="toggle" (click)="showConfirm = !showConfirm">
                    {{ showConfirm ? 'Ẩn' : 'Hiện' }}
                </span>
            </div>

            <div class="error" *ngIf="form.errors?.['notMatch'] && form.get('confirm_password')?.touched">
                Mật khẩu không khớp
            </div>

            <!-- SUBMIT -->
            <button class="btn-primary" type="submit" [disabled]="form.invalid">
                Đăng ký miễn phí
            </button>

        </form>

        <p class="mt-3">
            Đã có tài khoản?
            <a routerLink="/trader/login">Đăng nhập</a>
        </p>

    </div>
</section>