<section class="auth-page">
    <div class="auth-box">
        <h2>Đăng nhập Trader</h2>

        <form [formGroup]="form" (ngSubmit)="login()">

            <label>Email</label>
            <input type="email" placeholder="Nhập email..." formControlName="email">

            <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                Email không hợp lệ
            </div>

            <label>Mật khẩu</label>
            <input type="password" placeholder="Nhập mật khẩu..." formControlName="password">

            <div class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                Vui lòng nhập mật khẩu
            </div>

            <button class="btn-primary" type="submit" [disabled]="form.invalid">
                Đăng nhập
            </button>
        </form>

        <p>
            Chưa có tài khoản?
            <a routerLink="/trader/register">Đăng ký</a>
        </p>
    </div>
</section>